.product-table th,
.product-table td {
  padding: 40px; /* Sütunlar arasındaki boşluğu ayarlar */
  text-align: center;
}
.product-table thead {
  border-bottom: 1px solid #000; /* thead'in altına ince bir çizgi ekler */
}

.product-table img {
  width: 100px;
}

.center-div {
  display: flex;
  justify-content: center;
}

.product-table button {
  padding: 5px 10px;
  background: #0a1d3f;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.product-table input {
  width: 60px;
}
