
.filter select{
    padding: 8px 10px;
    border: 1px solid #0a1d37;
    cursor: pointer;
    border-radius: 5px;
    background: #0a1d37;
    color: #fff;
}


.filter select:focus{
    outline: none !important;
}

.filter select option{
    font-size: 0.9rem;
}

.category{
    text-align: right;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border: 1px solid #0a1d37;
    border-radius: 5px;
    cursor: pointer;

}

.search input{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}


.search img{
    width: 25px;
    height: auto;
    margin-right: 7px;
    cursor: pointer;
}

.search input[type="text"] {
    color: #0a1d37;
}

