.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  text-align: center;
  font-family: arial;
  margin: 0 auto;
}

.product-info {
  text-align: start;
  margin: 0 10px;
}

.product-info a {
  font-size: 1.2rem;
  color: #0a1d37;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0;
  text-decoration: none;
}

.product-info p {
  font-size: 0.9rem;
  margin-bottom: 3.9px;
}

.product-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.price-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  text-align: center;
}

.price-shop h4 {
  color: #0a1d37;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.price-shop img {
  height: auto;
  background: #0a1d37;
  width: 30px;
  border-radius: 50px;
  transition: transform 0.5s ease;
}

.price-shop img:hover {
  transform: rotate(0.5turn);
}
